/* side bar style */
.sidebar-list {
  font-size: 1.1rem;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  line-height: 4rem;
  font-weight: 500;
}

.sidebar-list img {
  text-align: left;
  margin-right: 0.6rem;
}
.sidebar-img {
  padding-left: 1rem;
  padding-top: 1.2rem;
}
.sidebar-btn {
  color: black;
  margin-right: 0.4rem;
}
.search-btn {
  background: transparent;
  border: none;
}
/* Navbar */
.navbar-content {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
  color: black;
  margin-left: 0.8rem;
  font-weight: 500;
}
.navbar-brand img {
  width: 150px;
}
.navbar-content {
  width: 100%;
  align-items: center !important;
  justify-content: space-between !important;
}
.navbar-content li,
.navbar-content li p,
.navbar-content li button {
  font-size: 0.9rem !important;
}
.navbar-content li i {
  font-size: 1rem;
}
.button {
  border: none;
}
.active {
 color: #007D99;
 font-weight: 700;
}
.nav-text {
  font-weight: 350;
}

.add-money-btn,
.more-btn {
  background: #b9e9ff;
  border: none;
  color: #007d99;
  font-weight: 450;
}
.notification-btn {
  font-size: 2.4rem;
}
.user-info {
  font-size: 2.4rem;
}
/* box style */
.card {
  border: none !important;
  margin-top: 0.8rem;
}
.banner-img img {
  width: 100%;
}
.card .card-image {
  background-color: #e7f7ff;
}
.card .card-bg {
  background-color: #f7f9ff;
}
.card-bg img {
  width: 28px;
}
.card .card-image img {
  width: 40px;
}

/* footer style */
.footer {
  background-color: #e7f7ff;
  color: black;
  padding: 20px 0;
  text-align: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.foot-img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.foot-img img {
  width: 95vw;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: center;
    flex-direction: column;
  }
  .footer .d-flex {
    align-items: center !important;
    flex-direction: column !important;
  }
  .footer .d-flex p {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .footer-img {
    width: 250px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .card-body p,
  .categories-card .card-body p {
    font-size: 0.6rem;
  }
  .card .card-image img,
  .card-bg img {
    width: 26px;
  }
}
