/* side bar style */
.sidebar-list {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  line-height: 4rem;
}

.sidebar-list img {
  text-align: left;
  margin-right: 0.6rem;
}
.sidebar-img {
  padding-left: 1rem;
  padding-top: 1.2rem;
}
.sidebar-btn {
  color: black;
  margin-right: 0.4rem;
}
.search-btn {
  background: transparent;
  border: none;
}
/* Navbar */
.navbar-content {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
  color: black;
  margin-left: 0.8rem;
}
.navbar-brand img {
  width: 150px;
}
.navbar-content {
  width: 100%;
  align-items: center !important;
  justify-content: space-between !important;
}
/* .navbar-content li {
  font-size: 14px !important;
} */
.navbar-content li,
.navbar-content li p,
.navbar-content li button {
  font-size: 0.9rem !important;
}
.navbar-content li i {
  font-size: 1rem;
}
.button {
  border: none;
}
/* .balance {
  margin-left: 60px;
} */
.add-money-btn,
.more-btn {
  background: #b9e9ff;
  border: none;
  color: #007d99;
  font-weight: 450;
  /* border-radius: 50px;
  height: 40px;
  width: 120px; */
}
/* .more-btn {
  background: #b9e9ff;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 60px;
  margin-left: 6px;
  margin-right: 25px;
} */
/* .members {
  margin-left: 50px;
} */
.notification-btn {
  font-size: 2.4rem;
}
.user-info {
  font-size: 2.4rem;
}
/* box style */
.card {
  border: none !important;
  margin-top: 0.8rem;
}
.card .card-image {
  background-color: #e7f7ff;
}
.card .card-bg {
  background-color: #f7f9ff;
}
/* .card-body {
  font-size: 18px;
} */
/* .categories-card .card-body p {
  font-size: 13px;
} */

/* footer style */
.footer {
  background-color: #e7f7ff;
  color: black;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
  .footer {
    display: block;
  }
}
/* foot img style */
@media only screen and (max-width: 450px) {
  .footer-img {
    width: 250px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  footer {
    width: 100px;
  }
  .card-body p,
  .categories-card .card-body p {
    font-size: 0.4rem;
  }
}

.foot-img {
  margin-bottom: 0.7rem;
  height: 200px;
  width: 84%;
  margin-top: 0.7rempx;
  margin-left: 2.2rem;
  margin-right: 0.8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: beige;
}
